#googleimage {
    padding-left: 620px;
    padding-top: 200px;
}

form {
    text-align: center;
}

#kalem {
    width: 650px;
    height: 40px;
    border-radius: 25px;
    border-width: 1;
    padding-left: 20px;
    padding-right: 10px;
}

#bos {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
}